name: docker

on:
  workflow_dispatch:
  push:
    branches:
      - master

jobs:
  build-saltstack-tester:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        os: [bionic, focal]
        salt: [3001, 3002, 3003]

    env:
      GIT_SHA: ${GITHUB_SHA::8}

    steps:
      - name: Checkout
        uses: actions/checkout@v2
      - name: Setup Docker Metadata
        id: docker_metadata
        uses: crazy-max/ghaction-docker-meta@v1
        with:
          images: |
            docker.io/teamdfir/sift-saltstack-tester
          tags: |
            type=raw,value=${{ matrix.os }}-${{ matrix.salt }}
      - name: Setup Docker Buildx
        uses: docker/setup-buildx-action@v1
      - name: Login to Docker Hub
        uses: docker/login-action@v1
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build
        uses: docker/build-push-action@v2
        with:
          context: ./sift-saltstack-tester
          file: ./sift-saltstack-tester/Dockerfile.${{ matrix.os }}
          build-args: |
            SALTVERSION=${{ matrix.salt }}
          push: ${{ github.event_name != 'pull_request' }}
          tags: ${{ steps.docker_metadata.outputs.tags }}
